<h1>Property list</h1>
<table>
  <tr>
    <th>Property name</th>
    <th>Rent</th>
    <th>Rail name rails</th>
    <th>Age</th>
    <th>Adrees</th>
    <th>note</th>
  </tr>
<% @properties.each do |property| %>
  <tr>
    <td><%= property.propertyName %></td>
    <td><%= property.rent %></td>
    <td><%= property.railName %></td>
    <td><%= property.buildAge %></td>
    <td><%= property.address %></td>
    <td><%= property.note %></td>
    <td><%= link_to 'Check the details', property_path(property.id) %></td>
  </tr>
<% end %>
</table>
<br>
<%= link_to 'Post a new property', new_property_path %>
