<%= form_with(model: Property.new) do |form| %>

<% if @property.errors.any? %>
   <div id="error_explanation">
     <h2><%= @property.errors.count %>件のエラーがあります。</h2>
     <ul>
     <% @property.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
 <% end %>


  <div class="Property_Name">
    <%= form.label :Property %>
    <%= form.text_field :propertyName %>
  </div>
  <div class="property_rent">
    <%= form.label :Rent %>
    <%= form.text_field :rent %>
  </div>
  <div class="property_rail">
    <%= form.label :RailName %>
    <%= form.text_field :railName %>
  </div>
  <div class="property_age">
    <%= form.label :Age %>
    <%= form.text_field :buildAge %>
  </div>
  <div class="property_address">
    <%= form.label :Addresse %>
    <%= form.text_field :address %>
  </div>
  <div class="property_note">
    <%= form.label :note %>
    <%= form.text_field :note %>

 <%= fields_for :stations do |station| %>
     <div class="station_name">
      <%= station.label :station  %>
      <%= station.text_field :stationName %>
      <div class="time_walk">
      <%= station.label :Time %>
      <%= station.text_field :timeWalk %>
      <div class="">
      <%= station.label :Rails %>
      <%= station.text_field :railName %>
      <% end %>


  </div>
  <%= form.submit %>
<% end %>
