<h1>ブログ詳細画面</h1>
<p>Property Name: <%= @property.propertyName %></p>
<p>Rent : <%= @property.rent %></p>
<p>Rail name: <%= @property.railName%></p>
<p>Building Age: <%= @property.buildAge %></p>
<p>Adresse: <%= @property.address %></p>
<p>Remark: <%= @property.note%></p>
